.section {
  /* margin: 0 1rem; */
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scrollbar-width: none;
}

.genreTitle {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: 700;
  font-size: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .genreTitle {
    font-size: 60px;
  }
}

@media (min-width: 1024px) {
  .genreTitle {
    font-size: 78px;
  }
}
