.section {
  margin-bottom: 2rem;
}

.genreTitle {
  font-size: clamp(1.2rem, 4vw, 2rem);
  margin-bottom: 0.5rem;
  color: white;
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scrollbar-width: none;
}
